.pokemon-details {
    background-color: #ffffff; /* Cor de fundo do "card" */
    border-radius: 10px; /* Cantos arredondados */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento externo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    text-align: left;
  }
  
  .pokemon-details h3 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
  }
  
  .pokemon-details p {
    font-size: 18px; /* Tamanho da fonte dos parágrafos */
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
  }
