.pokemon-details {
    
    text-align: left;
  }
  
  .pokemon-details h3 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
  }
  
  .pokemon-details p {
    font-size: 18px; /* Tamanho da fonte dos parágrafos */
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
  }
