.pokemon-type {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px; /* Atualizado para 10px */
  margin-bottom: 10px; /* Adicionado para espaçamento vertical */
  border: 1 solid black;
}
