.pokemon-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.pokemon-section {
  display: flex;
  justify-content: space-between;
}

.pokemon-container h1 {
  font-size: 50px; /* Tamanho da fonte do nome do Pokémon */
  color: #161616; /* Cor do texto */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Sombra do texto para destacar */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 30px; /* Espaçamento abaixo do título */
}



.section-abilities {
  text-align: center;
  border: 1px solid #ccc; /* Apenas para visualização */
  background-color: #ffffff6c; /* Cor de fundo do "card" */
  border-radius: 10px; /* Cantos arredondados */
  padding: 20px; /* Espaçamento interno */
  margin-top: 20px; /* Espaçamento externo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}
.section-abilities-list {
  max-height: 300px; /* Define a altura máxima da lista */
  overflow-y: auto;  /* Habilita o scroll vertical */
  padding: 10px; /* Espaçamento interno */
}

.pokemon-more{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}