<div *ngIf="pokemon" class="pokemon-container" [ngStyle]="getBackgroundColor()">
  <h1>{{ pokemon.name | uppercase }}</h1>
  <div class="pokemon-section">
    <app-pokemon-details [pokemon]="pokemon"></app-pokemon-details>
    <app-pokemon-image
      [pokemonId]="pokemon.id"
      [pokemonName]="pokemon.name"
      type="full"
    ></app-pokemon-image>
    <app-pokemon-stats [stats]="pokemon.stats"></app-pokemon-stats>
  </div>

  <div class="pokemon-more">
    <div class="section-abilities">
      <p>
        <strong>Abilities</strong>
      </p>
      <div class="section-abilities-list">
        <app-pokemon-ability
          *ngFor="let ability of pokemon?.abilities"
          [ability]="ability"
        ></app-pokemon-ability>
      </div>
    </div>
    <div>
      <app-pokemon-evolution
        [pokemonName]="pokemon.name"
      ></app-pokemon-evolution>
      <app-pokemon-varieties
        [pokemonName]="pokemon.name"
      ></app-pokemon-varieties>
    </div>
  </div>
  
  
</div>
