<div class="pokemon-card" *ngIf="pokemon" [ngStyle]="getBackgroundColor()">
  <div class="pokemon-image">
    <app-pokemon-image
      [pokemonId]="pokemon.id"
      [pokemonName]="pokemon.name"
      type="detail"
    ></app-pokemon-image>

    <div class="pokemon-info">
      <span class="pokemon-number">Nº {{ getNumber(4, pokemon.id) }}</span>
      <h2 class="pokemon-name">{{ capitalizeFirstLetter(pokemon.name) }}</h2>

      <div class="pokemon-types">
        <app-pokemon-type
          [type]="type"
          *ngFor="let type of pokemon.types"
        ></app-pokemon-type>
      </div>
    </div>
  </div>
</div>
